<div class="wishlist h-screen px-6 lg:px-20 lg:py-8" StopBodyScroll>
    <div class="my-10 text-3xl font-semibold space-x-1"><h2>Wishlists</h2></div>
    <div >
        <h3 class="text-xl pb-4 font-custom font-semibold">
            Login to view your wishlist
        </h3>
        <p class="text-sm font-custom">You can create, view, or edit wishlists once you’ve logged in.</p>
    </div>
    <div class="w-[25%] md:w-[15%] lg:w-[10%] mt-6 login-button text-white text-center py-3 cursor-pointer px-6 md:px-0 rounded-md bg-gradient-to-r from-[#E61E4D] via-[#E31C5F] to-[#D70466]">
        <button><span>Login</span></button>
    </div>

</div>