<app-filters></app-filters>
<div class="grid grid-cols-1 lg:grid-cols-4 mx-6 mt-8">
    
    <div class="stay relative">   
        <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide cursor-pointer" routerLink="/stay/1">
                <div class="flex  h-64 w-full flex-col justify-end rounded-xl relative overflow-hidden"
                style="background-position: center center;background-size: cover;
                    background-repeat: no-repeat;">
                    <img src="{{ slide.img }}" alt="AirMax Pro"
                    class="object-cover w-full h-full  rounded-xl z-0" />
                </div>
                
            </div>
        </ngx-slick-carousel>
        <div class="absolute top-4 right-8 ">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: rgba(0, 0, 0, 0.5); height: 24px; width: 24px; stroke: #fff; stroke-width: 2; overflow: visible;"><path d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"></path></svg>
        </div>
    </div>

    <div class="stay relative">   
        <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <div class="flex  h-64 w-full flex-col justify-end rounded-md relative overflow-hidden"
                style="background-position: center center;background-size: cover;
                    background-repeat: no-repeat;">
                    <img src="{{ slide.img }}" alt="AirMax Pro"
                    class="object-cover w-full h-full  rounded-2xl z-0" />
                </div>
                
            </div>
        </ngx-slick-carousel>
        <div class="absolute top-4 right-8 ">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: rgba(0, 0, 0, 0.5); height: 24px; width: 24px; stroke: #fff; stroke-width: 2; overflow: visible;"><path d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"></path></svg>
        </div>
    </div>

    <div class="stay relative">   
        <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <div class="flex  h-64 w-full flex-col justify-end rounded-md relative overflow-hidden"
                style="background-position: center center;background-size: cover;
                    background-repeat: no-repeat;">
                    <img src="{{ slide.img }}" alt="AirMax Pro"
                    class="object-cover w-full h-full  rounded-2xl z-0" />
                </div>
                
            </div>
        </ngx-slick-carousel>
        <div class="absolute top-4 right-8 ">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: rgba(0, 0, 0, 0.5); height: 24px; width: 24px; stroke: #fff; stroke-width: 2; overflow: visible;"><path d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"></path></svg>
        </div>
    </div>

    <div class="stay relative">   
        <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <div class="flex  h-64 w-full flex-col justify-end rounded-md relative overflow-hidden"
                style="background-position: center center;background-size: cover;
                    background-repeat: no-repeat;">
                    <img src="{{ slide.img }}" alt="AirMax Pro"
                    class="object-cover w-full h-full  rounded-2xl z-0" />
                </div>
                
            </div>
        </ngx-slick-carousel>
        <div class="absolute top-4 right-8 ">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: rgba(0, 0, 0, 0.5); height: 24px; width: 24px; stroke: #fff; stroke-width: 2; overflow: visible;"><path d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"></path></svg>
        </div>
    </div>
</div>
