<!-- <button (click)="signupClose()" >clickme</button> -->
<div class="flex w-screen fixed top-0 bottom-0 h-screen  bg-black opacity-30 z-[415]">
    
</div>
<div class="overflow-hidden" StopBodyScroll>

    <div #signup id="signup" class=" top-full md:top-1/2 ease-in-out duration-[5000] signup-card card fixed  left-[50%] translate-x-[-50%] md:translate-y-[-50%] z-[416] bottom-0 md:bottom-auto lg:bottom-auto w-full md:w-[66%] lg:w-[45%]">
        <div class="relative header text-center border-b-[1px] pb-4">
            <div class="signup-close absolute">
                <button (click)="signupClose()" >
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"><path d="m6 6 20 20"></path><path d="m26 6-20 20"></path></svg>
                </button>
            </div>
            <div>
                <h2 class="">Log in or sign up</h2>
            </div>
        </div>
    
        <div class="login-form lg:h-[27rem] overflow-y-scroll">
            <div class="py-6 text-xl"><span>Welcome to Airbnb</span></div>
            <div class="continue-with-phone">
                <label for="countries" class="block text-sm text-gray-900 rounded-t-lg  border border-gray-300 ">
                    <div class="font-custom text-xs pt-3 px-4"><span>Country/Region</span></div>
                    <select id="countries" class=" text-base font-custom font-bold text-gray-900 block w-full pl-2.5 pb-3">
                        <option selected>Choose a country</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="FR">France</option>
                        <option value="DE">Germany</option>
                    </select>
                </label>
        
                <div class="relative font-custom font-bold">
                    <input type="number" id="floating_filled" class="block rounded-b-lg px-4 pb-2.5 pt-5 w-full text-sm border-[1px] border-gray-300 appearance-none focus:outline-none focus:ring-0  peer" placeholder=" " />
                    <label for="floating_filled" class="opacity-60 absolute duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-3.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Phone number</label>
                </div>
        
                <div class="font-custom text-xs py-2">
                    <p>We’ll call or text you to confirm your number. Standard message and data rates apply. <span class="font-bold underline cursor-pointer">Privacy Policy</span></p>
                </div>
            </div>
    
            <div class="continue-button text-white text-center py-3 mt-2 cursor-pointer px-6 rounded-md bg-gradient-to-r from-[#E61E4D] via-[#E31C5F] to-[#D70466]">
                <button><span>Continue</span></button>
            </div>
    
            <div class="flex items-center justify-center my-4">
                <!-- <span class="w-[40%] h-1 bg-slate-500 inline-block">-</span> -->
                <hr class="w-[45%] font-bold ">
                <span class="px-4 py-[1px] ">or</span>
                <hr class="w-[45%] font-bold ">
                <!-- <span class="w-[40%] bg-slate-500">-</span> -->
            </div>
    
            <div class="continue-with-fb mb-4">
                <button class="relative w-full py-3 px-6 hover:bg-slate-100 border-[1px] border-black rounded-lg">
                    <div class="absolute email-icon">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px;"><path fill="#1877F2" d="M32 0v32H0V0z"></path><path d="M22.938 16H18.5v-3.001c0-1.266.62-2.499 2.607-2.499h2.018V6.562s-1.831-.312-3.582-.312c-3.654 0-6.043 2.215-6.043 6.225V16H9.436v4.625H13.5V32h5V20.625h3.727l.71-4.625z" fill="#FFF"></path></svg>
                    </div>
                    <div class="text-center">Continue with facebook</div>
                </button>
            </div>
            <div class="continue-with-google mb-4">
                <button class="relative w-full py-3 px-6 hover:bg-slate-100 border-[1px] border-black rounded-lg">
                    <div class="absolute google-icon">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px;"><g transform="translate(4.376957 4.073369)"><path d="m19.7480429 20.9266305c2.813-2.625 4.063-7 3.313-11.18799996h-11.188v4.62599996h6.375c-.25 1.5-1.125 2.75-2.375 3.562z" fill="#4285f4"></path><path d="m1.24804285 17.2396305c.82223 1.6196 2.0014 3.0314 3.4486 4.129s3.1247 1.8523 4.906 2.2073c1.78130005.355 3.62000005.301 5.37740005-.1579s3.3877-1.3108 4.768-2.4914l-3.875-3c-3.313 2.188-8.81300005 1.375-10.68800005-3.75z" fill="#34a853"></path><path d="m5.18573285 14.1766305c-.5-1.563-.5-3 0-4.56299996l-3.938-3.062c-1.438 2.875-1.875 6.93799996 0 10.68799996z" fill="#fbbc02"></path><path d="m5.18604285 9.61463054c1.374-4.31301 7.25000005-6.81301 11.18700005-3.126l3.438-3.37401c-4.875-4.688-14.37500005-4.5-18.56300005 3.43601l3.938 3.063z" fill="#ea4335"></path></g></svg>
                    </div>
                    <div class="text-center">Continue with Google</div>
                </button>
            </div>
            <div class="continue-with-apple mb-4">
                <button class="relative w-full py-3 px-6 hover:bg-slate-100 border-[1px] border-black rounded-lg">
                    <div class="absolute email-icon">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" focusable="false" style="height: 20px; width: 20px; display: block; fill: currentcolor;"><path d="m13.3 2.1a5.1 5.1 0 0 1 3.8-2.1 5.1 5.1 0 0 1 -1.2 3.8 4.1 4.1 0 0 1 -3.6 1.7 4.5 4.5 0 0 1 1-3.4zm-5 3.7c-2.8 0-5.8 2.5-5.8 7.3 0 4.9 3.5 10.9 6.3 10.9 1 0 2.5-1 4-1s2.6.9 4 .9c3.1 0 5.3-6.4 5.3-6.4a5.3 5.3 0 0 1 -3.2-4.9 5.2 5.2 0 0 1 2.6-4.5 5.4 5.4 0 0 0 -4.7-2.4c-2 0-3.5 1.1-4.3 1.1-.9 0-2.4-1-4.2-1z"></path></svg>
                    </div>
                    <div class="text-center">Continue with Apple</div>
                </button>
            </div>
            <div class="continue-with-email mb-4">
                <button class="relative w-full py-3 px-6 hover:bg-slate-100 border-[1px] border-black rounded-lg">
                    <div class="absolute email-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px; fill: currentcolor;"><path d="M30.5105,5.87921A5.06207,5.06207,0,0,0,26,3H6A5.06215,5.06215,0,0,0,1.48932,5.87946,4.9444,4.9444,0,0,0,1,8V24a5.00588,5.00588,0,0,0,5,5H26a5.00588,5.00588,0,0,0,5-5V8A4.94373,4.94373,0,0,0,30.5105,5.87921ZM6,5H26a2.97234,2.97234,0,0,1,1.77252.59253l-9.8194,8.41675a2.98373,2.98373,0,0,1-3.90527,0l-9.82013-8.417A2.97238,2.97238,0,0,1,6,5ZM29,24a3.00328,3.00328,0,0,1-3,3H6a3.00328,3.00328,0,0,1-3-3V8a2.96566,2.96566,0,0,1,.10266-.73773l9.64343,8.26556a4.97272,4.97272,0,0,0,6.50782,0L28.89728,7.262A2.96542,2.96542,0,0,1,29,8Z"></path></svg>
                    </div>
                    <div class="text-center">Continue with email</div>
                </button>
            </div>
    
        </div>
    
    </div>
</div>


