@import '../../mixin/mixin';
#signup {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
 
  from {
    top:100%
  }

  to {
    @include devices(ipad) {
    top:50%
    }
    
    // top:3rem
  }
}

